
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #root {
    width: 100%;
    height: 100%;
  }
  
  canvas {
    display: block; /* Remove any additional space below the canvas */
  }
  span {
font-size: medium;

  }
  